@use '@/styles/variables' as *;

.statTag {
  display: flex;
  padding: 8px;
  width: calc(33% - 7px);
  flex-direction: column;
  border-radius: 8px;
  background-color: var(--tag-bg); 
  border: 1px solid $primary; 
  color: $primary; 
}

.value {
  font-size: calc(var(--font-size) - 3px);
  font-weight: 700;
  line-height: 1;
  line-height: 150%;
}

.label {
  font-weight: 400;
  font-size: calc(var(--font-size) - 5px);
}

