// Base colors
$white: #ffffff;
$black: #000000;
$cold-grey: #C7C9D9;

// Theme colors
$light-background: #FAFAFC;
$dark-background: #0F0F0F;

$surface-light: #ffffff; 
$surface-dark: #2A2727; 

$dark-font: #3A3A3C;
$light-font: #BFBFBF;

// Accent colors
$primary: #D62B57; 
$primary-font: #D9C3CA;
$primary-hover: #C62A52;
$primary-dark: #A62244;
$primary-light: #F6CED9;
$primary-subtle: #FFF2F6;

$secondary: #F2AF29; 
$secondary-dark: #D09725;
$secondary-light: #F9D386;
$secondary-subtle: #FDF2DC;

$error:  #FF3B3B;

$box-shadow: 0px 2px 8px var(--shadow-color);