@use '@/styles/variables' as *;

.collectionSection {
    padding-top: 12px;
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    align-items: stretch;
    > div > div {
        height: 100%;
        border: 1px solid var(--border);
    }
}