.btn {
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    font-weight: 600;
    font-family: var(--font-family);
    font-size: calc(var(--font-size) - 3px);
    gap: 16px;
    cursor: pointer;
    color: var(--font);
    @media (min-width: 890px) {
        flex-direction: row;
        gap: 8px;
    }

}