@use '@/styles/variables' as *;

.footer {
    padding: 24px 0;
    background: var(--surface);
    font-size: 14px;
    color: var(--font);
    @media (min-width: 768px) {
      padding: 64px 0;
    }
    .top {
      .columns {
        display: flex;
        flex-wrap: wrap;
        row-gap: 4px;
        column-gap: 8px;
        justify-content: space-between;
        @media (min-width: 768px) {
          row-gap: 16px;
        }
        .column {
          h4 {
            font-weight: bold;
            font-size: calc(var(--font-size) + 2px);
            margin-bottom: 6px;
            @media (min-width: 768px) {
              margin-bottom: 24px;
            }
          }
          ul {
            list-style: none;
            padding: 0;
            li {
              margin-bottom: 12px;
              font-size: var(--font-size);
              a {
                text-decoration: none;
                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
          .socials {
            display: flex;
            gap: 12px;
  
            .social {
              width: 36px;
              height: 36px;
              border: 1px solid $primary;
              background-color:var(--tag-bg);
              color: $primary;
              border-radius: 4px;
              padding: 4px;
              display: flex;
              justify-content: center;
              align-items: center;
              @media (min-width: 700px) {
                width: 56px;
                height: 56px;
                padding: 14px;
                border-radius: 8px;
              }
            }
          }
        }
      }
    }
  
    .bottom {
      margin-top: 20px;
      padding-top: 24px;
      border-top: 1px solid var(--border);
      display: flex;
      flex-direction: column;
      gap: 20px;
      font-size: var(--font-size);
      @media (min-width: 768px) {
        margin-top: 64px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
  
      .links {
        display: flex;
        flex-wrap: wrap;
        .link {
            padding: 0 20px;
            &:not(:last-child) {
                border-right: 1px solid var(--border);
            }
        }
        a {
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  
  .column:has(.logo) {
    display: none;
    @media (min-width: 968px) {
        display: block;
    }
  }