/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  
}

.pdBottom12 {
    padding-bottom: 12px;
}

.recentWrapper {
    > div {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 16px;
        .progCard {
            display: none;
            &:nth-child(1),
            &:nth-child(2) {
                display: block;
            }
        }
    }
}

.section {
    display: flex;
    flex-direction: column;
    gap: 12px;
}


.items {
    display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
  a {
    min-width: 200px;
    height: 100%;
    > div {
        height: 100%;
    }
  }
    > div {
        display: none;
        width: 100%;
        &:nth-child(1),
        &:nth-child(2) {
            display: flex;
        }
    }
}

@media (min-width: 1150px) {
    .recentWrapper {
        > div {
            .progCard {
                &:nth-child(3),
                &:nth-child(4) {
                    display: flex;
                }
            }
        }
    }
    .items {
        > div {
            &:nth-child(3),
            &:nth-child(4) {
                display: flex;
            }
        }
    }
}

@media (min-width: 1500px) {
    .items {
        > div {
            &:nth-child(5),
            &:nth-child(6) {
                display: flex;
            }
        }
    }
}