.heading {
    line-height: 150%;
    font-size: 1.125rem;
    color: var(--font);
    font-weight: 500;
}


@media (min-width: 900px) {
    .heading {
        font-size: 1.25rem;
    }
}
  
@media (min-width: 1600px) {
    .heading {
        font-size: 1.5rem;
    }
}