@use '@/styles/variables' as *;

.navbar {
    position: relative;
    background-color: var(--surface);
    box-shadow: $box-shadow;
    font-size: var(--font-size);
    font-weight: 600;
    padding: 8px 0;
    .container {
        display: flex;
        justify-content: space-between;
    }
}

.navActive {
    .navFlex {
        transform: translateX(-16px);
    }
}

.navFlex {
    width: 100%;
    display: inline-flex;
    align-items: center;
    transform: translateX(calc(-100% - 16px));
    transition: .3s all ease;
    position: absolute;

    flex-direction: column-reverse;
    background-color: var(--surface);
    width: 100%;
    max-width: 400px;
    top: 100%;
    padding: 24px 0;
    gap: 24px;
    height: calc(100vh - 47px);
    justify-content: start;
    .logo {
        position: absolute;
        bottom: 48px;
    }
    .navList {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 0;
        width: 100%;

        li {
            padding: 12px 24px;
            border-top: 1px solid var(--background);
            width: 100%;
            &:last-child {
                border-bottom: 1px solid var(--background);
            }
        }
    }
}

.endFlex {
    display: flex;
    align-items: center;
    gap: 8px;
}

.mobileIcon {
    display: block;
}

@media (min-width: 890px) {
    .mobileIcon {
        display: none;
    }
    .navFlex {
        position: static;
        transform: translateX(0);
        justify-content: space-between;
        flex-direction: row;
        max-width: none;
        padding: 0;
        gap: 4px;
        height: auto;
        .logo {
            position: static;
        }
        .navList {
            display: flex;
            gap: 40px;
            flex-direction: row;
            width: auto;
            li {
                padding: 0;
                border: none;
                width: auto;
                &:last-child {
                    border: none;
                }
            }
        }
    }
}

@media (min-width: 1440px) {
    .navList {
        gap: 50px;
    }
}