.genreStats {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    width: 100%;
}

.genreList {
    display: flex;
    gap: 1rem;
    align-items: center;
    overflow-x: scroll;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
    cursor: grab;
    user-select: none;
    &:active {
        cursor: grabbing;
    }
}

.genreTag {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label {
    color: #fbfbfb;
    padding: 4px 8px;
    border-radius: 5px;
    font-weight: 600;
    white-space: nowrap;
}

.count {
    margin: 4px 0;
    line-height: 150%;
    font-size: 0.8rem;
    color: var(--font);
    font-weight: 700;
}

.progressBar {
    display: flex;
    height: 5px;
    border-radius: 2.5px;
    overflow: hidden;
    max-width: 100%;
}

.segment {
    height: 100%;
}

.genreScrollWrapper {
    position: relative;
}

.leftFade,
.rightFade {
    position: absolute;
    top: -1px;
    bottom: 0;
    width: 80px;
    z-index: 1;
    pointer-events: none;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.leftFade {
    left: 0;
    background: linear-gradient(to right, var(--surface) 20%, transparent);
}

.rightFade {
    right: 0;
    background: linear-gradient(to left, var(--surface) 20%, transparent);
}

.fadeVisible {
    opacity: 1;
}

.noData {
  text-align: center;
  color: var(--font-secondary);
  margin-top: 4px;
}