.body {
    padding: 96px 0 96px 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
    min-height: calc(100vh - 584px);
}

@media (min-width: 347px) {
    .body {
        min-height: calc(100vh - 563px);
    }
}

@media (min-width: 410px) {
    .body {
        min-height: calc(100vh - 478px);
    }
}

@media (min-width: 446px) {
    .body {
        min-height: calc(100vh - 388px);
    }
}

@media (min-width: 546px) {
    .body {
        min-height: calc(100vh - 369px);
    }
}

@media (min-width: 700px) {
    .body {
        min-height: calc(100vh - 389px);
    }
}

@media (min-width: 754px) {
    .body {
        min-height: calc(100vh - 302px);
    }
}

@media (min-width: 970px) {
    .body {
        min-height: calc(100vh - 536px);
    }
}

@media (min-width: 1003px) {
    .body {
        min-height: calc(100vh - 435px);
    }
}

@media (min-width: 790px) {
    .body {
        padding: 124px 0 96px 0;
    }
}