.body {
    padding: 96px 0 96px 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
    min-height: calc(100vh - 469px);
}

@media (min-width: 347px) {
    .body {
        min-height: calc(100vh - 402px);
    }
}

@media (min-width: 422px) {
    .body {
        min-height: calc(100vh - 383px);
    }
}


@media (min-width: 446px) {
    .body {
        min-height: calc(100vh - 357px);
    }
}

@media (min-width: 546px) {
    .body {
        min-height: calc(100vh - 357px);
    }
}

@media (min-width: 597px) {
    .body {
        min-height: calc(100vh - 290px);
    }
}

@media (min-width: 645px) {
    .body {
        min-height: calc(100vh - 271px);
    }
}

@media (min-width: 767px) {
    .body {
        min-height: calc(100vh - 393px);
    }
}

@media (min-width: 867px) {
    .body {
        min-height: calc(100vh - 374px);
    }
}


@media (min-width: 970px) {
    .body {
        min-height: calc(100vh - 385px);
    }
}

@media (min-width: 1003px) {
    .body {
        min-height: calc(100vh - 385px);
    }
}

@media (min-width: 1600px) {
    .body {
        min-height: calc(100vh - 400px);
    }
}

@media (min-width: 790px) {
    .body {
        padding: 124px 0 96px 0;
    }
}