@use '@/styles/variables' as *;

.button {
  padding: 0.875rem 1.5rem;
  font-size: var(--font-size);
  border-radius: 10px;
  cursor: pointer;
  transition: all linear .3s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  user-select: none;
  gap: 4px;
  white-space: nowrap;
  svg {
    height: 24px;
  }
}

.primary {
  color: $white;
  background-color: $primary;
  border: none;
  &:hover {
    background-color: $primary-hover;
  }
  &:focus-visible {
    background-color: $primary-hover;
  }
  &:active {
    background-color: $primary-dark;
  }
  &:disabled {
    background-color: var(--tag-bg);
    color: $primary-font;
    cursor: not-allowed;
  }
}

.secondary {
  color: $primary;
  border: 1px solid $primary;
  background-color: transparent;
  &:hover {
    background-color: var(--tag-bg);
  }
  &:focus-visible {
    background-color: var(--tag-bg);
  }
  &:active {
    background-color: $primary-light;
  }
  &:disabled {
    cursor: default;
    border: $primary-font 1px solid;
    background-color: rgba($color: $primary-subtle, $alpha: .4);
    cursor: not-allowed;
    color: $primary-font;
  }
}