.logo {
    display: inline-block;
    cursor: pointer;
    height: auto;
    transition: opacity 0.3s;
    svg {
        width: 120px;
        height: auto;
        max-width: 100%;
        @media (min-width: 391px) {
            width: 150px;
        }
        @media (min-width: 1200px) {
            width: 150px;
        }
        @media (min-width: 1440px) {
            width: 165px;
        }
    }
  }