@use '@/styles/variables' as *;
.card {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  border-radius: 10px;
  border: 1px solid var(--border);
  position: relative;
}

.avatarWrapper {
  position: relative;
}

.avatar {
    position: relative;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    img {
        width: 100%;
        min-height: 100%;
        object-fit: cover;
    }
}

.statusDot {
  position: absolute;
  top: 0;
  right: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid var(--surface);
}

.online {
  background-color: #4caf50;
}

.offline {
  background-color: #9e9e9e;
}


.name {
  font-weight: 600;
  cursor: pointer;
}

.acceptBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 48px;
    background: none;
    border: none;
    cursor: pointer;
    color: #05A660;
    svg {
        height: 24px;
    }
}

.deleteBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
  background: none;
  border: none;
  cursor: pointer;
  color: $primary;
  svg {
    height: 24px;
  }
}

.modalOverlay {
  inset: 0;
  display: flex;
}

.modal {
  position: fixed;
  z-index: 999;
  left: 50%;
  transform: translateX(-50%);
  background: var(--surface);
  padding: 24px;
  border-radius: 12px;
  max-width: 320px;
  text-align: center;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.modalActions {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  gap: 12px;
}
