@use '@/styles/variables' as *;

.inputWrapper {
    position: relative;
    width: 100%;
  }
  
  .label {
    font-size: var(--font-size);
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    color: var(--font);
    opacity: .9;
    pointer-events: none;
    &.required::after {
        content: "*";
        color: $primary;
        font-weight: 500;
      }
  }
  
  .input {
    width: 100%;
    padding: 16px 20px;
    border: 1px solid $cold-grey;
    border-radius: 8px;
    transition: border 0.2s ease;
    font-size: var(--font-size);
    color: var(--font);
    &:focus {
      outline: none;
      border-color: $primary; 
    }
  }
  