@use '@/styles/variables' as *;

.card {
    overflow: hidden;
    background: var(--surface);
    min-width: 200px;
    max-width: 500px;
    border-radius: 10px;
    padding: 16px 32px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    cursor: pointer;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.title {
    font-size: var(--font-size);
    font-weight: 500;
    text-align: center;
}

.tags {
    display: flex;
    justify-content: center;
    gap: 8px;
    flex-wrap: wrap;
}

.covers {
    position: relative;
    height: 115px;
    margin: 0 auto;
    .coverImg,
    .placeholder {
        width: 86px;
        height: 120px;
        border-radius: 8px;
        object-fit: cover;
        position: absolute;
        border: 3px solid var(--surface);
        &:nth-child(1) {
            left: -93px;
            bottom: -6px;
            transform: rotate(-8deg);
            background: radial-gradient(circle,rgba(214, 43, 87, 0.6) 0%, rgba(252, 136, 166, 0.2) 100%);
        }
        &:nth-child(2) {
            bottom: -16px;
            left: -43px;
            background: radial-gradient(circle,rgba(153, 30, 62, 0.6) 0%, rgba(252, 136, 166, 0.6) 100%);
        }
        &:nth-child(3) {
            left: 7px;
            bottom: -32px;
            transform: rotate(12deg);
            background: radial-gradient(circle,rgba(146, 25, 56, 0.6) 0%, rgba(252, 136, 166, 0.6) 100%);
        }
    }
}